# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db