{% extends 'base.html' %}

{% block title %}
Consulta
{% endblock title %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Detalhes da Consulta</h3>
    </div>
    <div class="box-body">
        <p><b>Data:</b> {{ consulta.data }}</p>
        <p><b>Motivo:</b> {{ consulta.motivo_consulta }}</p>
        <p><b>Peso atual:</b> {{ consulta.peso_atual }} kg</p>
        <p><b>Medicamento atual:</b> {{ consulta.medicamento_atual }}</p>
        <p><b>Medicamentos prescritos:</b> {{ consulta.medicamentos_prescritos }}</p>
        <p><b>Exames prescritos:</b> {{ consulta.exames_prescritos }}</p>
        <hr>
        <a href="{% url 'enviar_email_consulta' consulta.id %}">
            <button class="btn btn-primary">Enviar Email</button>
        </a>
    </div>
</div>
{% endblock content %}